.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{ "data-toggle" => "collapse", "data-parent" => "#drug-list", :href => "#drug#{drug.id}"}  
        = drug.generic_name
  .panel-collapse.collapse{id:"drug#{drug.id}"}
    .panel-body= drug.form