<% provide(:title, "Pharmacy Home")%>
<%= javascript_include_tag "drugs/drugs" %>
<div class="container">
	<table class="drugs" id="drug_table">
		<thead>
			<th>Name</th>
			<th>Form</th>
			<th>Conditions</th>
			<th>30 Day Price</th>
			<th>30 Day Quantity</th>
			<th>90 Day Price</th>
			<th>90 Day Quantity</th>
		</thead>
		<tbody>
			<%=render @drugs%>
		</tbody>
	</table>
</div>
