.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-lg-offset-3
  %form#search_form{action: "/drugs/search", method: "get", text: "search", role:"search"}
    .input-group
      %input.form-control{type: "text", placeholder: "Search", name: "query", id: "drug_search", autocomplete: "off"}
      %span.input-group-btn
        %button.btn.btn-default{type: "submit"} Search
  .panel-group#drug-list
    = render @drugs
    = will_paginate @drugs, renderer: BootstrapPagination::Rails