@import "bootstrap";

/*header*/
header {
	background-color: black;
	.navbar-inner{
		background-image: linear-gradient(to bottom, #00CC00, #009933);
	}

}

#logo{
	color: white;
	margin-left: 256px;
	
}

/*drug store info table*/

table.drug-stores-table{
  @extend .table;
  @extend .table-condensed;
  @extend .table-striped; 
}

table.drug-info-table{
  @extend .table;
  @extend .table-condensed;
  @extend .table-striped; 
}

button{
  @extend .btn;
}

button.info-button{
  @extend .btn-info;
}

button.stores-button{

}

button.add-to-cart-button{

}

.store-btns{
  
  button.show-options{
    width: 100%;
  }
  
  button.Walmart{
    @extend .btn, .btn-primary;
  }

  button.Target{
    @extend .btn, .btn-danger;
  }
  
  button.duration{
    @extend .hidden;
    width:50%;
    line-height: 22px;
    padding:4px 0px 4px 0px;
  }
}

#search_form{
  @extend navbar-form;
}







/*shopping cart*/

#shopping_cart{
  position: fixed;
  background:#fff4c8;
  border:2px solid #ffcc00;
  width:260px;
  display:block;
  margin:3em 0.5em;
  
  h5{
    display: inline;
  }
  p.Walmart{
    color: blue;
  }
  p.Target{
    color: red;
  }
  
  p.num-items{
    display: inline;
    font-size: 12px;
  }
  
  p.num-items{
    display: inline;
    font-size: 12px;
  }
  
  p.cart-items{
    display: inline;
  }
  
  p#checkout{
    display: inline-block;
  }
  p#checkout_sum{
    display: inline-block;
  }
  
  table{
    @extend .table;
    @extend .table-bordered;
    @extend .table-condensed;
    
    font-size: 12px;
  }
  
  
  
  .cart-item{
    .name{
      width: 79%;
    }
    .quantity{
      width: 8%;
    }
    .price{
      width: 8%;
    }
    .options{
      width: 5%;
    }
  }  



}

.hidden{
  display: none;
}

footer{
  @extend .span12;
  @extend .offset3;
  
  #disclaimer_link{
  
  }

  #rights{
  
  }  
}

















