@import "bootstrap";

/*header*/
header {
	background-color: black;
	.navbar-inner{
		background-image: linear-gradient(to bottom, #00CC00, #009933);
	}

}

#logo{
	color: white;
	margin-left: 256px;
	
}

#search_form{
  margin-left: 44px;
}

/*drug data table*/

#drug_table{
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;
  @extend .table-condensed;
  
}
div.dataTables_filter{
  
  display:inline-block;
  input{
    @extend .search-query;
    @extend .input-long; 
  }
}

div.dataTables_length{
  @extend .offset1;
  display:inline-block;
  select{
    border-radius: 15px 15px 15px 15px;
    width: auto;
  }
}

#drug_table_previous{
  @extend .btn; 
}

#drug_table_next{
  @extend .btn;
}



#stores_col{
  width: 100px;
}



.store-btns{
  button.Walmart{
  @extend .btn, .btn-primary;
  width: 95px;
  }

  button.Target{
    @extend .btn, .btn-danger;
    width: 95px;
  }
  button.duration{
    width:50px;
  }
}

/*shopping cart*/

#shopping_cart{
  position: fixed;
  background:#fff4c8;
  border:2px solid #ffcc00;
  width:260px;
  display:block;
  margin:3em 0.5em;
  
  h5{
    display: inline;
  }
  
  p#num_items{
    display: inline;
    font-size: 12px;
  }
  span{
    
  }
}

.hidden{
  display: none;
}


















