@import "bootstrap";

/*header*/
header {
	background-color: black;
	.navbar-inner{
		background-image: linear-gradient(to bottom, #00CC00, #009933);
	}

}

#logo{
	color: white;
	margin-left: 256px;
	
}

#search_form{
  margin-left: 44px;
}

/*drug data table*/

#drug_table{
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;
  @extend .table-condensed;
  
  td{
    border-top: 3px solid #DDDDDD;
  }
  
}
div.dataTables_filter{
  
  display:inline-block;
  input{
    @extend .search-query;
    @extend .input-long; 
  }
}

div.dataTables_length{
  @extend .offset1;
  display:inline-block;
  select{
    border-radius: 15px 15px 15px 15px;
    width: auto;
  }
}

#drug_table_previous{
  @extend .btn; 
}

#drug_table_next{
  @extend .btn;
}



#stores_col{
  width: 100px;
}



.store-btns{
  button.Walmart{
  @extend .btn, .btn-primary;
  width: 100%;
  }

  button.Target{
    @extend .btn, .btn-danger;
    width: 100%;
  }
  button.duration{
    @extend .hidden;
    width:50%;
  }
}

/*shopping cart*/

#shopping_cart{
  position: fixed;
  background:#fff4c8;
  border:2px solid #ffcc00;
  width:260px;
  display:block;
  margin:3em 0.5em;
  
  h5{
    display: inline;
  }
  p.Walmart{
    color: blue;
  }
  p.Target{
    color: red;
  }
  
  p.num-items{
    display: inline;
    font-size: 12px;
  }
  
  p.num-items{
    display: inline;
    font-size: 12px;
  }
  
  p.cart-items{
    display: inline;
  }
  
  p#checkout{
    display: inline-block;
  }
  p#checkout_sum{
    display: inline-block;
  }
  
  table{
    @extend .table;
    @extend .table-bordered;
    @extend .table-condensed;
    
    font-size: 12px;
  }
  
  
  
  .cart-item{
    .name{
      width: 79%;
    }
    .quantity{
      width: 8%;
    }
    .price{
      width: 8%;
    }
    .options{
      width: 5%;
    }
  }  



}

.hidden{
  display: none;
}


















