@import "bootstrap";



div.drug-list{
  @extend .offset2;
  
  table{
    @extend .table;
    .store{
      display: none;
    }
  
    width: 50%;
  }

  .table-name{
  }
}

.btn-group
{
  display:block;
}
